.card_conteiner{


}


.card{
  width: 100%;
  padding-top: 5%;

  h1{
    font-size: 16px;
    font-weight: 600;
    //width: 70%;
   // text-align: center;
  }
  h2{
    font-size: 18px;
    font-weight: 700;
   // text-align: center;
  }

  img{
    padding-top: 2%;
  }

  p{
    //text-align: center;
    padding-top: 2%;
    color: #4F4F4F;
    width: 40%;
  }

}

.description{

  p{
    color: #000;
  }

  ul{
    list-style-type: none;
  }
}